body {
  margin: 0;
  padding: 8px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ff3c00;
  height: 98%;
  width: 98%;
  margin: auto;
}

.window-controls {
  margin-bottom: 0.5em;
}